@import url('https://fonts.googleapis.com/css?family=Days+One');

.App {
  text-align: center;
}

.Header-logo {
  height: 100%;
  float: left;
}

.Header {
  font-family: 'Days One';
  text-align: left;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Header h3 {
  position: relative;
  top: 50px;
}

.Header p {
  position: relative;
  float: right;
}

.Header a {
  color: white;
}

.Header-title {
  text-align: left;
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}

/* .App-table tr td{
  border: 1px solid cyan;
} */

.Table-table{
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

tr {
  height: 50px;
  width: 200px;
}

td {
  padding: 10px;
  text-align: left;
}

tr td {
  border-bottom: 1px solid #b3edff;
  border-left: 1px solid #b3edff;
  border-right: 1px solid #b3edff;
  border-top: 1px solid #b3edff;
}

.HorzNav{
  font-family: 'Days One';
  background-color: #333;
  overflow: hidden;
}

.HorzNav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.HorzNav a:not(.current){
  text-decoration: none;
}

.current {
  text-decoration:none; 
  border-bottom: 2px solid #629316;
}

HorzNav a:hover {
  background-color: #ddd;
  color: black;
}

.HorzNav .a .Link .to {
  color: red !important;
}

.linkClass {
  padding: 0 !important;
}

.My_footer {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
}

.flex-box {
    font-family: 'Days One';
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color:  #629316;
    border-width: 2px;
}

.menu-item {
    width: 100px;
    height: 60px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    border-radius: 50%;
    border-color:  #629316;
    border-width: 2px;
    border-style: solid;
}