.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* .App-table tr td{
  border: 1px solid cyan;
} */

.App-table{
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

tr {
  height: 50px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: left;
}

tr td {
  border-bottom: 1px solid #b3edff;
  border-left: 1px solid #b3edff;
  border-right: 1px solid #b3edff;
  border-top: 1px solid #b3edff;
}

tr:hover {background-color: #b3edff;}
/* tr:nth-child(even) {background-color: grey;} */

.NavBar {
  background-color: #222;
  /* float: center; */
  overflow: hidden;
}

.NavBar a {
  float: center;
  align-items: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.NavBar a:hover {
  background-color: #ddd;
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
